body {
    background-color: rgb(216, 19, 19);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.logo {
    width: 120px;
}
.espacio {
    padding: 100px 0;
}

.carousel-caption {
    position: absolute;
    right: 40%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 285px;
    color: #fff;
    text-align: left;
}
.banner-video {
    background-image: url("img/video.jpg");
    padding: 200px 0;
    position: relative;
    text-align: center;
}

.banner-video img {
    width: 80px;
    height: 80px;
    position: relative;
}

footer {
    background-color: #252a2e;
    padding: 100px 0;
    text-align: center;
}

footer img {
    width: 150px;
}

footer p {
    color: white;
}